section .booking-details-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    /* margin-top: 10px; */
    border-radius: 6px;
    box-shadow: 0px 12px 24px -11px rgba(66, 68, 90, 1);
    background-color: #fff;
} 



.booking-details-panel .top-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52%;
    padding: 0px 40px 0px 40px;
    /* background-color: green; */
} 
.booking-details-panel .bottom-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 45%;
    padding: 5px 20px 20px 40px;
    gap: 5px;
    font-size: 15px;
    /* background-color: green; */
} 

.booking-details-panel .bottom-details .bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 300;
}
.booking-details-panel .bottom-details .right-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;

}

.booking-details-panel .bottom > span {
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 13px;
} 

.booking-details-panel .bottom .choice-icon{
    font-size: 20px;
} 

.booking-details-panel .top-details .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    font-size: 30px;
}
.booking-details-panel .top-details .icon-calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 60px; */
    margin-right: 10px;
    font-size: 20px;
}
.booking-details-panel .top-details .date-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 115px;
    height: 60px;
}
.booking-details-panel .top-details .date-info span:first-child {
    display: flex;
    font-size: 15px;
    font-weight: 350;
    margin-bottom: 10px;
}

.booking-details-panel .top-details .date-info span:nth-child(2) {
    display: flex;
    font-size: 15px;
    font-weight: 250;
    margin-bottom: 4px;
}
.booking-details-panel .top-details .date-info span:nth-child(3) {
    display: flex;
    font-size: 15px;
    font-weight: 250;
}