.radio-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    color: black;
}

.radio-row > input {
    margin-right: 20px;
    accent-color: black; 
}

.info-payment {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    font-size: 13px;
    font-weight: 300;
}
