section.right-side-login {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: white;
}

.right-side-login .back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 100px;
    top: 40px;
    border: 1px solid rgb(211, 207, 207);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
    color: #a9a9a9;
}
.right-side-login .back-button:hover {
    transform: scale(1.05);
}
