form.forgot-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 6px;
    /* padding: 20px; */
    box-shadow: 0px 10px 24px -14px rgba(66, 68, 90, 1);
}

form.forgot-panel > span {
    margin: 10px;
    font-size: 20px;
}

form.forgot-panel > input {
    display: flex;
    height: 50px;
    width: 250px;
    border: 1px solid #999;
    padding-left: 10px;
    outline: none;
    border-radius: 6px;
}

form.forgot-panel > button {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-size: 17px;
    box-shadow: 0px 12px 24px -11px rgba(66, 68, 90, 1);
    cursor: pointer;
    transition: 0.3s;
}

form.forgot-panel > button:hover {
    transform: scale(1.05);
}